<div id="current_form">
  <%= form_for @timesheet do |f| %>
    <div class="timeSheetTableDiv">
        <tr>
          <td><%= f.text_field :time_from, :placeholder => get_placeholder(@user,'time_from','HH:MM'), :class => "timeCell" %></td>
          <td><%= f.text_field :time_to, :placeholder => get_placeholder(@user,'time_to','HH:MM'), :class => "timeCell" %></td>
          <td><%= f.text_field :task, :placeholder => get_placeholder(@user,'task','Task'), :size => 70 %></td>
            <td><%= f.submit 'Add' %> </td>
        </tr>
    </div>
  <% end %>
</div>