<%= form_for @series do |f|%>
  <div class="row">
    <div class="col-md-5"> Series Name
      <%= f.text_field :series_name, :class => 'form-control autofocus' %></div>
    <div class="col-md-2"></div>
    <div class="col-md-5"> Location
      <%= f.text_field :series_location, :class => 'form-control autofocus' %></div>
  </div>

  <div class="row">
    <div class="col-md-5"> From date
      <%= f.text_field :series_date_from, :class => 'form-control autofocus' %></div>
    <div class="col-md-2"></div>
    <div class="col-md-5"> To date
      <%= f.text_field :series_date_to, :class => 'form-control autofocus' %></div>
  </div>

  <div class="row">
    <div class="col-md-5"> Type
      <%= f.text_field :series_type, :class => 'form-control autofocus' %></div>
    <div class="col-md-2"></div>
    <div class="col-md-5"><b> Result </b>
      <%= f.text_field :series_result, :class => 'form-control autofocus' %></div>
  </div>

  <div class="row">
    <div class="col-md-5"> Description
      <%= f.text_area :series_desc, :class => 'form-control autofocus' %></div>
  </div>
  <div class="row">
    <%= f.submit 'save' %>
  </div>
<% end %>