<div class="container form-signin">
<h2 class="form-signin-heading">Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label 'Full Name' %>
  <%= f.text_field :user_name, :autofocus => true, :class => 'form-control required autofocus' %></div>

  <div><%= f.label 'Phone Number' %>
  <%= f.text_field :ph_number, :autofocus => true, :class => 'form-control required autofocus' %></div>

  <div><%= f.label 'Adderss' %>
  <%= f.text_area :ph_number, :autofocus => true, :class => 'form-control required autofocus' %></div>

  <div><%= f.label 'City' %>
  <%= f.text_field :city, :autofocus => true, :class => 'form-control required autofocus' %></div>

  <div><%= f.label 'State' %>
  <%= f.text_field :state, :autofocus => true, :class => 'form-control required autofocus' %></div>

  <div><%= f.label 'Contry' %>
  <%= f.text_field :contry, :autofocus => true, :class => 'form-control required autofocus' %></div>

  <div><%= f.label 'Proof of Identity' %>
  <%= f.file_field :PoL, :autofocus => true, :class => 'form-control required autofocus' %></div>

  <div><%= f.label 'Proof of Address' %>
  <%= f.file_field :PoA, :autofocus => true, :class => 'form-control required autofocus' %></div>

  <div><%= f.label 'Choose name for your team' %>
  <%= f.text_field :team_name, :autofocus => true, :class => 'form-control required autofocus' %></div>

  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true, :class => 'form-control required autofocus' %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password , :class => 'form-control required autofocus'%></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, :class => 'form-control required autofocus' %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>