<!DOCTYPE html>
<html>
  <head>
    <title>Crickguru</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div>

      <%= render 'shared/header' %>

    </div>
    <div class="message_div">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% elsif alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
    </div>
    
      <%= yield %>
    
  </body>
  <div>
    <% if current_user %>
      <%= render 'shared/footer' %>
    <% end %>
  </div>
</html>
